<!DOCTYPE html>
<html>
<head>
	<title>Scanner</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src='js/angular.min.js'></script>
</head>
<body>
<div id="page" data-ng-app="scanner" data-ng-controller="scannerCtrl">
	<div id="left"></div>
	<div id="right">
		<form id="scanner" name="scanform">
			<fieldset id="device_name">
				<legend>Device:</legend>
				<p><select id="device_name" name="device_name" data-ng-model="device" data-ng-disabled="!(list && list.length)" data-ng-options="x.description + ' ('  + x.name + ')' for x in list | orderBy: 'i'" data-ng-change="hold(device.name)"></select></p>
			</fieldset>

			<fieldset id="image_property">
				<legend>Image property:</legend>
				<p><label for="resolution">Resolution:</label> <select id="resolution" name="resolution" data-ng-model="resolution" data-ng-disabled="!(holded && holded === device.name)" data-ng-options="x + ' dpi' for x in device.fields.resolution"></select></p>
				<p><label for="format">Image format:</label><select id="format" name="format" data-ng-disabled="!(holded && holded === device.name)" data-ng-model="format" data-ng-options="x for x in formats"></select></p>
				<p data-ng-show="{jpg: true, jpeg: true, png: true}[format]">
					<label for="quality">Quality value:</label><span class="range"><input name="quality" type="range" data-ng-disabled="!(holded && holded === device.name)" data-ng-model="quality" data-ng-init="quality=75"><span class="value" data-ng-bind="quality" data-ng-style="{left: quality + '%'}"></span></span>
				</p>
			</fieldset>

			<fieldset id="buttons">
				<input type="submit" value="Scan" name="scan" disabled> <input type="button" value="Prescan" name="prescan" disabled>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript" src="js/algorithm.js"></script>
</body>
</html>